name: CI - Build & Push Strapi Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    outputs:
      IMAGE_TAG: ${{ steps.set-tag.outputs.IMAGE_TAG }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set image tag
        id: set-tag
        run: |
          echo "IMAGE_TAG=${GITHUB_SHA}" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          docker build -t vaishnavi0009/strapi-backend:${GITHUB_SHA} .
          docker tag vaishnavi0009/strapi-backend:${GITHUB_SHA} vaishnavi0009/strapi-backend:latest

      - name: Push Docker Image
        run: |
          docker push vaishnavi0009/strapi-backend:${GITHUB_SHA}
          docker push vaishnavi0009/strapi-backend:latest
