name: CI - Build & Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          docker build -t vaishnavi0009/strapi-backend:${{ github.sha }} .
          docker tag vaishnavi0009/strapi-backend:${{ github.sha }} vaishnavi0009/strapi-backend:latest

      - name: Push to Docker Hub
        run: |
          docker push vaishnavi0009/strapi-backend:${{ github.sha }}
          docker push vaishnavi0009/strapi-backend:latest
